{% extends "things/base.html" %}

{% block items_block %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <style>
            .search {
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div><h2>Catalogue</h2></div>
        <input class="search" placeholder="Search" type="text"></input>
        {% for item in good_items %}
            {% include "things/good_item.html" %}
        {% endfor %}
    </body>
    </html>
{% endblock %}
