{% extends "things/base.html" %}

{% block main_block %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <style>
            .search {
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div>Storage</div>
        <textarea class="search" placeholder="Search" rows="1"></textarea>
        {% for item in rented_items %}
            {% include "things/rented_item.html" %}
        {% endfor %}
    </body>
    </html>
{% endblock %}
