{% extends "things/base.html" %}

{% block main_block %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <style>
            .catalogues {
                display: flex;
                justify-content: space-between;
            }

            .items-block {
                background-color: coral;
                width: 12em;
                padding: 3%;
                text-align: center;
            }

            .items-block > a {
                color: black;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="catalogues">
            <div class="items-block">
                <a href="{% url 'catalogue_stored' %}">Catalogue</a>
            </div>
            <div class="items-block">
                <a href="{% url 'catalogue_stored' %}">Storage</a>
            </div>
            <div class="items-block">
                <a href="{% url 'catalogue_stored' %}">Rent</a>
            </div>
        </div>
    </body>
    </html>
{% endblock %}