{% extends "things/base.html" %}

{% block items_block %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <style>
            .search {
                width: 100%;
            }
            .search-flex-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div><h2>Storage</h2></div>
        <form action="{% url 'search_stored' %}" method="get">
            {% csrf_token %}
            <div class="search-flex-container">
                <input class="search" placeholder="Type key word here" type="text" name="search_field"></input>
                <div><button>Search</button></div>
            </div>
        </form>
        {% for item in stored_items %}
            {% include "things/stored_item.html" %}
        {% endfor %}
    </body>
    </html>
{% endblock %}