{% extends "things/base.html" %}

{% block main_block %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <style>
            .flex-container {
                display: flex;
                justify-content: space-between;
            }

            .items-block {
                background-color: coral;
                width: 100%;
                margin: 1%;
                padding: 3%;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="flex-container">
            <div class="items-block">Catalogue</div>
            <div class="items-block">Storage</div>
            <div class="items-block">Rent</div>
        </div>
    </body>
    </html>
{% endblock %}