{% extends "things/base.html" %}

{% block main_block %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <style>
            .catalogues {
                display: flex;
                justify-content: space-between;
            }

            .catalogues-block {
                background-color: coral;
                width: 12em;
                padding: 3%;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <body>
        <div class="catalogues">
            <div class="catalogues-block" onclick="catalogues_all()">Catalogue</div>
            <div class="catalogues-block" onclick="catalogues_storage()">Storage</div>
            <div class="catalogues-block" onclick="catalogues_rent()">Rent</div>
        </div>
    </body>
    </html>
    <script>
        function catalogues_all() {
            window.location.href = "{% url 'catalogue_goods' %}";
        }
        function catalogues_storage() {
            window.location.href = "{% url 'catalogue_stored' %}";
        }
        function catalogues_rent() {
            window.location.href = "{% url 'catalogue_rented' %}";
        }
    </script>
{% endblock %}