<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .flex-container {
            display: flex;
            justify-content: space-between;
        }

        .items-block {
            background-color: coral;
            width: 100%;
            margin: 1%;
            padding: 3%;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="flex-container">
        <div class="items-block">Catalogue</div>
        <div class="items-block">Stored Items</div>
        <div class="items-block">Rented Items</div>
    </div>
</body>
</html>